<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Templates/css/style2.css">
    <title>Gracias</title>

</head>
<body class="Body">
    <H1>MUCHAS GRACIAS!!!!!</H1>
    <h4>tus datos ya fueron procesados correctamente, vuelve a la pagina principal y disfruta de los beneficios!!!
    </h4>
    <div class="botn">
    <button><a href="/Templates/index.html">Regresar</a></button>
    </div>
</body>
</html>